<!DOCTYPE html>
<html lang="en" data-theme="dark">
	<%=server.templateManager.renderTemplate("head.html", {
		title: "Kusa.Games: FAQ page",
		description: "Frequently asked questions."
	})%>
	<body>
		<%=server.templateManager.renderTemplate("menu.html")%>
		<div class="container">
			<div class="h5 ms-content ms-text-center py-4 shadow">
				You can ask questions here: <a target="_blank" href="https://discord.gg/AVz7Q2YyHj">Melty.Games discord</a> or <a target="_blank" href="https://discordapp.com/invite/0TJ5ma4C19VUCEeV">Melty Discord</a> (Ask Eika#4321).
				<br>
				<br>
				You can also contact Eika via email: <a href="mailto:e.i.k.a@outlook.com">e.i.k.a@outlook.com</a>.
			</div>
		</div>
	</body>
</html>