<head>
	<meta property="og:title" content="<%=title%>" />
	<meta property="og:image" content="http://Kusa.Games/<%=server.getRandomPortrait()%>" />
	<meta property="og:description" content="<%=description%>" />
	<meta property="og:type" content="website" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#25282c"/>
	<title>Kusa games!</title>
	<link rel="shortcut icon" href="img/favicon.png" type="image/png">
	<link rel="stylesheet" type="text/css" href="css/minstyle.io.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script defer src="js/dark.min.js"></script>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-159519012-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-159519012-2');
	</script>
</head>